.main {
    font-size: 60px;
    color: #9e4a0f;
    text-shadow: 5px 2px 1px #18100c;
    text-align: center;
    position: absolute;
    top: 2%;
    left: 40%;
}

.main1 {
    font-size: 30px;
    font-weight: 550;
    color: #e2c4a2;
    text-shadow: 3px 2px 4px #050201;
    text-align: center;
    background: none;
    max-width: 600px;
    position: absolute;
    top: 20%;
    left: 32%;
}

*{
    background: url("./img/coffee.jpg") no-repeat center center fixed;
    background-size: cover;
}

.icon{
    position: absolute;
    left: 2%;
    width: 128px;
    height: 128px;
    background: none;
}

.options {
    flex-direction: column;
}

a {
    text-decoration: unset;
    color: #9e4a0f;
    background: none;
    
}

ul{ 
    width: 330px;
    position: absolute;
    top: 150px;
    left: -1%;
    background: 0%;

}

li{
    font-size: 30px;
    text-shadow: 2px 2px 4px #702107;
    font-family: sans-serif;
    padding-bottom: 25px;
    font-weight: 550;
    align-items: start;
    list-style-type: none;
    background:0%;
}

.selected{
    color:rgb(163, 131, 91);
    font-size: 30px;
    text-shadow: 2px 2px 4px #8f5e4d;
    padding-bottom: 25px;
    font-weight: 550;
    align-items: start;
    list-style-type: none;
}

table{
    border-spacing: 5px;
    border: black;
    border-radius: 50%;
    position: absolute;
    left: 30%;
    top: 20%;
    max-width: 400px;
}

th {
    background: #6b340c;
    padding: 3px;
    border-radius: 9%;
}

.form{
    background: unset;
    font-weight: 600;
}

form {
    position: absolute;
    border: 2px solid black;
    border-radius: 8px;
    width: 200px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: auto;
    background: unset;
    background-color: #6b340c;
    left: 40%;
    top: 20%;
}

.form1 {
    background: none;
    font-size: 25px;
}

.input{
    background: none;
    background-color: #9e6f4e;
}

